/**
 * Fields
 */
form fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

form .field {
	clear: both;
	padding: 0.2em;
	margin: 0 0 0 10em;
	vertical-align: middle;
}

form p.checkbox {
	margin: 0 0 0 8.5em;
}

form .field.nolabel {
	margin-left: 0;
}

form label.left {
	float: left;
	width: 10em;
	margin-left: -90px;
}

#Password div.middleColumn div.showOnClick {
	margin-left: 10px;
}
div.Actions {
	padding-left: 10px;
	background-color: #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #a6a6a6;
	
}

form input.maxlength {
	width: auto;
}

form .actions{
	float : right;
}

form .validation,
form .error,
form .required
{
	border: 1px solid #f00;
	background: #fcc;
	padding: 0.5em;
	width: 50%;
}

form .field span.readonly {
	border: 1px #CCC dotted;
	background-color: #F7F7F7;
	display: block;
	width: 98%;
	padding: 3px;
	margin:5px 0;
}

form .indicator.inline {
	display: inline;
	margin-left: 5px;
	vertical-align: middle;
}

form .indicator.block {
	display: inline;
}

/* Emulating link styling for actions requiring lesser attention, e.g. "cancel" FormActions */
form button.minorAction {
	background: none;
	padding: 0;
	border: 0;
	color: #0074C6; /* same for "a" tag in cms/css/typography.css */
	text-decoration: underline;
}

.optionset{
	margin: 0 0 0 10px;
	padding: 0;
}
.optionset li{
	list-style: none;
	padding: 0;
}

/**
 * Composite Fields - raw concatenation of fields for programmatic purposes.
 */
.right form div.CompositeField {
	margin-left: 7.5em;
}
.right form div.CompositeField div.field {
	font-size: 1em;
}

.right form div.CompositeField {
	clear: both;
}	
.right form div.CompositeField label.left {
	float: left;
	width: 10em;
	margin-left: -10em;
}

.right form div.column2 {
	float: left;
	width: 45%;
	margin-right: 4%;
}

.right form div.multicolumn {
	width: 100%;
	float: left;
	clear: left;
}

/**
 * Messages
 */
form .message.notice {
	background-color: #FCFFDF;
	border-color: #FF9300;
}
form .message {
	margin: 1em 0;
	padding: 0.5em;
	font-weight: bold;
	border: 1px black solid;
	background-color: #B9FFB9;
	border-color: #00FF00;
}
	form .message.warning {
		background-color: #FFD2A6;
		border-color: #FF9300;
	}
	form .message.bad {
		background-color: #FF8080;
		border-color: #FF0000;
	}
	form .message.required,
	form .message.validation {
		display:block;
		margin-top:5px;
		color:#FF9300;
		width:240px;
		border-color: #FF9300;
	}
	form .message.validation {
		color:#FF4040;
		width:240px;
		border-color: #FF4040;
	}
	
	/** LOGIN FORM **/

#Remember {
	margin: 0.5em 0 0.5em 11em !important;
}
	p#Remember label {
		display: inline-block;
		margin: 0;
	}
	#Remember input {
		float: left;
		margin: 0 5px 0 0;
	}
#MemberLoginForm_LoginForm .Actions {
	padding-left: 12em;
}
#ForgotPassword {
	margin-top: 1em;
}



.ajaxActions input,
.actions input,
button.action,
div.Actions input,
input.action,
li.action input,
li.action button {
	cursor: pointer;
	color: #333;
	overflow: visible;
	width: auto;
	border-radius: 1.6em;
	border: none;
	margin-right: 2px;
	font-size: 11px;
	display: inline-block;
	padding: 7px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom: 1px solid #aaa;
	position: relative;
	cursor: pointer;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
}

.ajaxActions input,
	#TreeActions li.action input {
	float: left;
	height: 25px;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom: 1px solid #aaa;
	position: relative;
	cursor: pointer;
}

#TreeActions li.action input {
	font-weight: normal;
}

.ajaxActions input:active {
	background: #F4F4F4 none repeat scroll 0%;
	border-color: #999999 rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153);
}

.ajaxActions input:hover,
	div.Actions input:hover,
	input.action:hover,
	button.action:hover,
	li.action input:hover,
	li.action button:hover,
	li.selected input,
	li.selected button {
	background-image: -moz-linear-gradient(100% 100% 90deg, #ccc, #eee);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#eee));
}

.ajaxActions input.disabled,
	input.disabled {
	color: #666;
}
